.event {border-spacing:15px; margin: auto -20px;}
.event::after{content: "";    display: block; width: 960px; height: 40px; background-image: url("/static/images/div.png"); margin: -5px}
.event input[type="radio"] {display:none;}
.event label{display:table-cell; width: 290px; cursor: pointer;}
.event label{border-top: 5px solid #e6e6e6; border-bottom: 5px solid #e6e6e6}
.event label p{text-align: center;font-family: "open_sanslight";font-size: 26px ;color: #646464; margin-bottom: 7px;}
.event label article{padding:0 10px 20px;height: 125px}
.event label article header p{ text-align: left; font-family: "open_sanslight";font-size: 18px;color: #646464;line-height: 22px;}
.event label article p{text-align: left; font-family: "open_sansregular";font-size: 12px;color: #646464}
.event label {background: #FFF}
.event input:checked +label {border-top: 5px solid #2D88A5; border-bottom: 5px solid #2D88A5; background: #FFF; }
.button_submit {width: 890px; height: 40px; font-size: 18px !important}