{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    </head>

<form action="" method="post">{% csrf_token %}

    <p><label for="id_f">Фамилия:</label> <input id="id_f" maxlength="1024" name="f" type="text" /></p>
    <p><label for="id_i">Имя:</label> <input id="id_i" maxlength="1024" name="i" type="text" /></p>
    <p><label for="id_o">Отчество:</label> <input id="id_o" maxlength="1024" name="o" type="text" /></p>
    <p><label for="id_city">Город:</label> <input id="id_city" maxlength="1024" name="city" type="text" /></p>
    <p><label for="id_email">Электронная почта:</label> <input id="id_email" maxlength="1024" name="email" type="email" /></p>
    <p><label for="id_tel">Телефон:</label> <input id="id_tel" maxlength="1024" name="tel" type="text" /></p>
    <p><label for="id_status">Присутствие:</label> <select id="id_status" name="status">
        <option value="online">Заочно</option>
        <option value="offline" selected="selected">Очно</option>
    </select></p>

    <input type="submit" value="Создать" />

</form>